{% extends 'base.html' %}
{% load static %}
{% load account_custom_tag %}

{% block extra_head %}
<link href="{% static 'assets/css/loader.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row ">
            <!-- Left Sidebar -->
            <div class="col-sm-12 col-md-12 col-lg-3 bg-light">
                {% include 'filter.html' %}
            </div>

            <!-- Main Content Area -->
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div id="loader" class="loader"></div>
                <div id="fitbit-main-container" hidden>
                    <!-- Bootstrap Charts - START -->
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-xl">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs my-1" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="sleep-tab" data-toggle="tab" href="#sleep_chart"
                                                   role="tab" aria-controls="sleep_chart" aria-selected="true">Sleep</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="spo2-tab" data-toggle="tab" href="#spo2_chart" role="tab"
                                                   aria-controls="spo2_chart" aria-selected="false">Spo2</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="heart_rate-tab" data-toggle="tab" href="#heart_rate_chart" role="tab"
                                                   aria-controls="heart_rate_chart" aria-selected="false">Heart Rate</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="new_sleep-tab" data-toggle="tab" href="#new_sleep_chart" role="tab"
                                                   aria-controls="new_sleep_chart" aria-selected="false">Sleep</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            
                                        </div>
                                    </div>
                                </div>    
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/css/light_bootstrap_all.min.css' %}"/>
    <script type="text/javascript"
            src="{% static 'assets/js/shieldui_all.min.js' %}"></script>
    <script>
        // Function to show loader
        function showLoader() {
            document.getElementById("loader").style.display = 'block';
        }

        // Function to hide loader
        function hideLoader() {
            document.getElementById("loader").hidden = true;
            document.getElementById("fitbit-main-container").hidden = false;
        }

        function fetchDataAndRenderChart() {
            // Count to track the number of fetch requests completed
            let fetchCount = 0;

            const dataArray = {}

            // Callback function to render chart once all fetch requests are completed
            function hide_loader_and_render_all_charts() {
                fetchCount++;
                if (fetchCount === 3) {
                    var chart_data_weight = setInterval(() => {
                        if (dataArray['fitbit_fetch_sleep_result'] !== null && dataArray['fitbit_fetch_spo2_result'] !== null && dataArray['fitbit_fetch_heart_rate_result'] !== null){
                            clearInterval(chart_data_weight);
                            renderCharts(dataArray)
                            renderSleepCharts(dataArray)
                            hideLoader();
                        }
                    }, 1000)
                }
            }

            function fitbit_fetch_weight() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ weight_range.0 }}")
                formData.append('date_to', "{{ weight_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:fitbit-fetch-weight' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                        dataArray['fitbit_fetch_weight_result'] = data
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['fitbit_fetch_weight_result'] = 'fetch_but_null'
                        hide_loader_and_render_all_charts()
                        console.error('Error fetching data from fitbit-fetch-weight:', error);
                        document.getElementById('chart_weight').innerText = 'No Data'
                    });
            }

            function fitbit_fetch_sleep() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ sleep_range.0 }}")
                formData.append('date_to', "{{ sleep_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:fitbit-fetch-sleep' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        hide_loader_and_render_all_charts()
                        return response.json();
                    })
                    .then(data => {
                        const sleep_data = data['sleep']
                        const sleep_result = []
                        sleep_data.forEach(obj => {
                            const date_of_sleep = obj['dateOfSleep']
                            let asleep_minutes
                            let awake_minutes
                            let restless_minutes
                            try{
                                asleep_minutes = obj['levels']['summary']['asleep']['minutes']
                            } catch {
                                asleep_minutes = 0
                            }
                            try{
                                awake_minutes = obj['levels']['summary']['awake']['minutes']
                            } catch {
                                awake_minutes = 0
                            }
                            try{
                                restless_minutes = obj['levels']['summary']['restless']['minutes']
                            } catch {
                                restless_minutes = 0
                            }
                            
                            sleep_result.push([date_of_sleep, asleep_minutes, awake_minutes, restless_minutes]);
                        });
                        dataArray['fitbit_fetch_sleep_result'] = sleep_result
                    })
                    .catch(error => {
                        dataArray['fitbit_fetch_sleep_result'] = 'fetch_but_null'
                        console.error('Error fetching data from fitbit-fetch-sleep:', error);
                        document.getElementById('chart_sleep').innerText = 'No Data'
                    });
            }

            function fitbit_fetch_spo2() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ spo2_range.0 }}")
                formData.append('date_to', "{{ spo2_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:fitbit-fetch-spO2' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        hide_loader_and_render_all_charts()
                        return response.json();
                    })
                    .then(data => {
                        const spo2_result = []
                        data.forEach(obj => {
                            const dateTime = obj['dateTime']
                            let avg
                            let min
                            let max
                            try{
                                avg = obj['value']['avg']
                            } catch {
                                avg = 0
                            }
                            try{
                                min = obj['value']['min']
                            } catch {
                                min = 0
                            }
                            try{
                                max = obj['value']['max']
                            } catch {
                                max = 0
                            }

                            // Push the result array to the results array
                            spo2_result.push([dateTime, avg, min, max]);
                        });
                        dataArray['fitbit_fetch_spo2_result'] = spo2_result
                    })
                    .catch(error => {
                        dataArray['fitbit_fetch_spo2_result'] = 'fetch_but_null'
                        console.error('Error fetching data from fitbit-fetch-spO2:', error);
                        document.getElementById('chart_spo2').innerText = 'No Data'
                    });
            }

            function fitbit_fetch_heart_rate() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ heart_rate_range.0 }}")
                formData.append('date_to', "{{ heart_rate_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:fitbit-fetch-heart-rate' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        hide_loader_and_render_all_charts()
                        return response.json();
                    })
                    .then(data => {
                        const heart_rate_data = data['activities-heart']
                        const heart_rate_result = []
                        let zone_result
                        let name
                        let max
                        let min
                        heart_rate_data.forEach(obj => {
                            const dateTime = obj['dateTime']
                            const heartRateZones = obj['value']['heartRateZones']
                            zone_result = []
                            heartRateZones.forEach(zone => {
                                try{
                                    name = zone['name']
                                } catch {
                                    name = 0
                                }
                                try{
                                    max = zone['max']
                                } catch {
                                    max = 0
                                }
                                try{
                                    min = zone['min']
                                } catch {
                                    min = 0
                                }
                                zone_result.push([name, min, max])
                            })
                            heart_rate_result.push([dateTime, zone_result])
                        });
                        dataArray['fitbit_fetch_heart_rate_result'] = heart_rate_result
                    })
                    .catch(error => {
                        dataArray['fitbit_fetch_heart_rate_result'] = 'fetch_but_null'
                        console.error('Error fetching data from fitbit-fetch-heart-rate:', error);
                        document.getElementById('chart_heart_rate').innerText = 'No Data'
                    });
            }

            {#fitbit_fetch_weight()#}
            fitbit_fetch_sleep()
            fitbit_fetch_spo2()
            fitbit_fetch_heart_rate()
            
            function renderCharts(dataArray) {
                {#const data1 = dataArray.fitbit_fetch_weight_result#}
                const data2 = dataArray.fitbit_fetch_sleep_result
                const data3 = dataArray.fitbit_fetch_spo2_result
                const data4 = dataArray.fitbit_fetch_heart_rate_result
                {#console.log(data1)#}
                console.log(data2)
                console.log(data3)
                console.log(data4)

                jQuery(function ($) {
                    try {
                        $("#chart_sleep").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                },
                                categoricalValues: data2.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Sleep State ( minute )"
                                }
                            },
                            seriesSettings: {
                                bar: {
                                    stackMode: 'normal'
                                }
                            },
                            dataSeries: [
                                {
                                    collectionAlias: "asleep",
                                    stackIndex: 0,
                                    data: data2.map(item => item[1]),
                                },
                                {
                                    collectionAlias: "awake",
                                    stackIndex: 1,
                                    data: data2.map(item => item[2]),
                                },
                                {
                                    collectionAlias: "restless",
                                    stackIndex: 2,
                                    data: data2.map(item => item[3]),
                                },
                            ]
                        });
                    } catch (err) {
                        console.log('render chart_sleep err: ' + err)
                        document.getElementById('chart_sleep').innerText = 'No Data'
                    }
                    try {
                        $("#chart_spo2").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                },
                                categoricalValues: data3.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "SpO2"
                                }
                            },
                            seriesSettings: {
                                bar: {
                                    stackMode: 'normal'
                                }
                            },
                            dataSeries: [
                                {
                                    collectionAlias: "avg",
                                    stackIndex: 0,
                                    data: data3.map(item => item[1]),
                                },
                                {
                                    collectionAlias: "min",
                                    stackIndex: 1,
                                    data: data3.map(item => item[2]),
                                },
                                {
                                    collectionAlias: "max",
                                    stackIndex: 2,
                                    data: data3.map(item => item[3]),
                                },
                            ]
                        });
                    } catch (err) {
                        console.log('render chart_spo2 err: ' + err)
                        document.getElementById('chart_spo2').innerText = 'No Data'
                    }
                    try {
                        $("#chart_heart_rate").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 20,
                                    textAngle: 0,
                                },
                                categoricalValues: data4.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Heart Rate"
                                }
                            },
                            seriesSettings: {
                                line: {
                                    enablePointSelection: true,
                                    pointMark: {
                                        activeSettings: {
                                            pointSelectedState: {
                                                drawWidth: 4,
                                                drawRadius: 4
                                            }
                                        }
                                    }
                                }
                            },
                            dataSeries: [
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Out of Range min",
                                    stackIndex: 1,
                                    data: data4.map(item => item[1][0][1]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Out of Range max",
                                    stackIndex: 1,
                                    data: data4.map(item => item[1][0][2]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Fat Burn min",
                                    stackIndex: 2,
                                    data: data4.map(item => item[1][1][1]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Fat Burn max",
                                    stackIndex: 2,
                                    data: data4.map(item => item[1][1][2]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Cardio min",
                                    stackIndex: 3,
                                    data: data4.map(item => item[1][2][1]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Cardio max",
                                    stackIndex: 3,
                                    data: data4.map(item => item[1][2][2]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Peak min",
                                    stackIndex: 4,
                                    data: data4.map(item => item[1][3][1]),
                                },
                                {
                                    seriesType: 'line',
                                    collectionAlias: "Peak max",
                                    stackIndex: 4,
                                    data: data4.map(item => item[1][3][2]),
                                },
                            ]
                        });
                    } catch (err) {
                        console.log('render chart_heart_rate err: ' + err)
                        document.getElementById('chart_heart_rate').innerText = 'No Data'
                    }
                });
            }
            function renderSleepCharts(dataArray) {
                const data = dataArray.fitbit_fetch_sleep_result;
                const valueData = data.map(d => d.slice(1)); // Extract value arrays
                
                // Extracting data for D3
                const dates = data.map(item => item[0]);
                const asleep = data.map(item => item[1]);
                const awake = data.map(item => item[2]);
                const restless = data.map(item => item[3]);
                
                // Define chart dimensions
                const width = 1000;
                const height = 250;
                const marginTop = 0;
                const marginRight = 60;
                const marginBottom = 60;
                const marginLeft = 60;
            
                // Declare the x (horizontal position) scale.
                const x = d3.scaleBand()
                    .domain(dates)
                    .range([marginLeft, width - marginRight])
                    .padding(0.1);
                
                // Declare the y (vertical position) scale.
                const y = d3.scaleLinear()
                    .domain([0, d3.max(valueData.flat())])
                    .range([height - marginBottom, marginTop]);
                
                // Create the SVG container.
                const svg = d3.create("svg")
                    .attr("viewBox", [0, 0, width, height])
                    .attr("width", width + marginLeft + marginRight)
                    .attr("height", height + marginTop + marginBottom)
                    .attr("style", "max-width: 100%; height: auto;");
                
                // Define the tooltip
                const tooltip = d3.select("body")
                    .append("div")
                    .attr("class", "tooltip")
                    .style("opacity", 0)
                    .style("position", "absolute");

                // Plot asleep bars
                svg.selectAll(".bar-asleep")
                    .data(asleep)
                    .enter().append("rect")
                    .attr("class", "bar-asleep")
                    .attr("x", (d, i) => x(dates[i]))
                    .attr("width", x.bandwidth() / 3)
                    .attr("y", d => y(d) - marginBottom)
                    .attr("height", d => height - y(d))
                    .attr("fill", "steelblue")
                    .on("mouseover", function(d, i) {
                        console.log(d)
                        console.log(i)
                        const date = dates[i];
                        const value = d;
                        // Show tooltip on hover
                        tooltip.transition()
                            .duration(200)
                            .style("opacity", 1);
                        tooltip.html(`Date: ${date}<br>Value: ${value}`)
                            .style("left", (d3.event.pageX + 10) + "px")
                            .style("top", (d3.event.pageY + 10) + "px");
                    })
                    .on("mouseout", function() {
                        // Hide tooltip on mouseout
                        tooltip.transition()
                            .duration(500)
                            .style("opacity", 0);
                    });
                                
                // Plot awake bars
                svg.selectAll(".bar-awake")
                    .data(awake)
                    .enter().append("rect")
                    .attr("class", "bar-awake")
                    .attr("x", (d, i) => x(dates[i]) + x.bandwidth() / 3)
                    .attr("width", x.bandwidth() / 3)
                    .attr("y", d => y(d) - marginBottom)
                    .attr("height", d => height - y(d))
                    .attr("fill", "orange");
                
                // Plot restless bars
                svg.selectAll(".bar-restless")
                    .data(restless)
                    .enter().append("rect")
                    .attr("class", "bar-restless")
                    .attr("x", (d, i) => x(dates[i]) + 2 * x.bandwidth() / 3)
                    .attr("width", x.bandwidth() / 3)
                    .attr("y", d => y(d) - marginBottom)
                    .attr("height", d => height - y(d))
                    .attr("fill", "green");
                
                // Add the x-axis.
                svg.append("g")
                    .attr("transform", `translate(0,${height - marginBottom})`)
                    .call(d3.axisBottom(x));
                
                // Add the y-axis.
                svg.append("g")
                    .attr("transform", `translate(${marginLeft},0)`)
                    .call(d3.axisLeft(y));

                // Append the SVG element.
                document.getElementById('new_sleep_chart').append(svg.node());
            }
        }

        function isOutlier(number, numbers) {
            // Calculate the mean of the numbers
            const mean = numbers.reduce((acc, val) => acc + val, 0) / numbers.length;

            // Calculate the standard deviation
            const stdDev = Math.sqrt(numbers.reduce((acc, val) => acc + Math.pow(val - mean, 2), 0) / numbers.length);

            // Check if the number is an outlier
            return (number < (mean - 2 * stdDev) || number > (mean + 2 * stdDev));
        }

        function hideDemoTspans() {
            var demo_cleaner = setInterval(() => {
                const tspans = document.querySelectorAll('tspan');
                if (tspans.length > 0) {
                    tspans.forEach(tspan => {
                        if (tspan.textContent.trim() === 'Demo Version') {
                            tspan.style.display = 'none';
                        }
                    });
                    tspans.forEach(tspan => {
                        if (tspan.textContent.trim() === 'Demo') {
                            tspan.style.display = 'none';
                        }
                    });
                    tspans.forEach(tspan => {
                        if (tspan.textContent.trim() === 'Shield UI Chart') {
                            tspan.style.display = 'none';
                        }
                    });
                    const exportButtons = document.querySelectorAll('.shield-export-button-img');
                    exportButtons.forEach(exportButton => {
                        exportButton.innerHTML += '<i class="fa fa-download"></i>';
                    });
                    clearInterval(demo_cleaner);
                }
            }, 1000)
        }

        $(document).ready(function() {
            showLoader();
            fetchDataAndRenderChart();
        })

    </script>

{% endblock %}