{% load static %}

<div class="row" id="fud_form_user_data">
    <form>
        <div class="col-sm-12 mb-1">
            <h4>* FirstName</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_first_name">AmirHossein</h5>
        </div>    
        <div class="col-sm-12 mb-1">
            <h4>* LastName</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_last_name">Fathollahi</h5>
        </div>  
        <div class="col-sm-12 mb-1">
            <h4>* Sex</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_sex">Male</h5>
        </div>    
        <div class="col-sm-12 mb-1">
            <h4>* Age</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_age">31</h5>
        </div>  
        <div class="col-sm-12 mb-1">
            <h4>* BMI</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_bmi">51</h5>
        </div>  
        <div class="col-sm-12 mb-1">
            <h4>* Weight</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_weight">86 Kg</h5>
        </div>  
        <div class="col-sm-12 mb-1">
            <h4>* Height</h4>
            <h5 type="text" class="form-control form-control-plaintext mx-3" id="fud_form_user_data_height">181 Cm</h5>
        </div>  
    </form>
</div>