{% extends 'base.html' %}
{% load website_custom_tags %}
{% load static %}
{% load account_custom_tag %}

{% block extra_head %}
    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% include 'extra/navbar.html' %}
        <div class="row ">
            <!-- Left Sidebar -->
{#            <div class="col-sm-12 col-md-12 col-lg-2">#}
{#                {% include 'extra/side-menu.html' %}#}
{#            </div>#}

            <!-- Main Content Area -->
            <div class="col-sm-12 col-md-12 col-lg-12" id="charts_main_container">
                <div class="page-header">
                    <h1 class="text-success">Welcome <span class="text-warning">{{ request.user.username }}</span></h1>
                    <h2>You should connect to service from menu</h2>
                    <h6 class="text-info">please note all provided data will be used as statistic in future</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    
{% endblock %}