{% load website_custom_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand order-1 text-primary" href="{% url 'website:index' %}">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
        Health Web Dashboard
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-2" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'website:index' %}">Home</a>
            </li>
            <li class="nav-item">
                {% if not request.user|has_user_token %}
                    <a class="nav-link" href="{% url 'accounts:auth-withings' %}"><span style="color: red">Connect</span> with Withings</a>
                {% else %}
                    {% if request.user|has_user_active_token %}
                    <a class="nav-link" href="{% url 'website:witings' %}"><span style="color: green">Connected</span> with Withings</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:auth-withings' %}"><span style="color: orange">ReConnect</span>  with Withings</a>    
                    {% endif %}    
                {% endif %}
            </li>
            <li class="nav-item">
                {% if not request.user|fitbit_has_user_token %}
                    <a class="nav-link" href="{% url 'accounts:auth-fitbit' %}"><span style="color: red">Connect</span> with Fitbit</a>
                {% else %}
                    {% if request.user|fitbit_has_user_active_token %}
                    <a class="nav-link" href="{% url 'website:fitbit' %}"><span style="color: green">Connected</span> with Fitbit</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:auth-fitbit' %}"><span style="color: orange">ReConnect</span>  with Fitbit</a>    
                    {% endif %}    
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
