{% extends 'base.html' %}
{% load static %}
{% load account_custom_tag %}

{% block extra_head %}
    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row ">
            <!-- Left Sidebar -->
            <div class="col-sm-12 col-md-12 col-lg-3 bg-light">
                {% include 'filter.html' %}
            </div>

            <!-- Main Content Area -->
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div id="loader" class="loader"></div>
                <div id="withings-main-container" hidden>
                    <!-- Bootstrap Charts - START -->
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-xl">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs my-1" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" id="weight-tab" data-toggle="tab"
                                                   href="#weight_chart"
                                                   role="tab" aria-controls="weight_chart"
                                                   aria-selected="true">Weight</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="fat_free_mass-tab" data-toggle="tab"
                                                   href="#fat_free_mass_chart" role="tab"
                                                   aria-controls="fat_free_mass_chart" aria-selected="false">Fat Free Mass</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="fat_ratio-tab" data-toggle="tab"
                                                   href="#fat_ratio_chart" role="tab"
                                                   aria-controls="fat_ratio_chart" aria-selected="false">Fat Ratio</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="fat_mass_weight-tab" data-toggle="tab"
                                                   href="#fat_mass_weight_chart" role="tab"
                                                   aria-controls="fat_mass_weight_chart" aria-selected="false">Fat Mass Weight</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="muscle_mass-tab" data-toggle="tab"
                                                   href="#muscle_mass_chart" role="tab"
                                                   aria-controls="muscle_mass_chart" aria-selected="false">Muscle Mass</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="bone_mass-tab" data-toggle="tab"
                                                   href="#bone_mass_chart" role="tab"
                                                   aria-controls="bone_mass_chart" aria-selected="false">Bone Mass</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" id="new_weight-tab" data-toggle="tab"
                                                   href="#new_weight_chart" role="tab"
                                                   aria-controls="new_weight_chart" aria-selected="false">New Weight</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="weight_chart" role="tabpanel"
                                                 aria-labelledby="weight-tab">
                                                <div class="card-header">
                                                    <h3>Weight ({{ weight_range_default }})</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart_weight" class="panel-body"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="fat_free_mass_chart" role="tabpanel"
                                                 aria-labelledby="fat_free_mass-tab">
                                                <div class="card-header">
                                                    <h3>Fat Free Mass ({{ fat_free_mass_range_default }})</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart_fat_free_mass" class="panel-body"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="fat_ratio_chart" role="tabpanel"
                                                 aria-labelledby="fat_ratio-tab">
                                                <div class="card-header">
                                                    <h3>Fat Ratio ({{ fat_ratio_range_default }})</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart_fat_ratio" class="panel-body"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="fat_mass_weight_chart" role="tabpanel"
                                                 aria-labelledby="fat_mass_weight-tab">
                                                <div class="card-header">
                                                    <h3>Fat Mass Weight ({{ fat_mass_weight_range_default }})</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart_fat_mass_weight" class="panel-body"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="muscle_mass_chart" role="tabpanel"
                                                 aria-labelledby="muscle_mass-tab">
                                                <div class="card-header">
                                                    <h3>Muscle Mass ({{ muscle_mass_range_default }})</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart_muscle_mass" class="panel-body"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="bone_mass_chart" role="tabpanel"
                                                 aria-labelledby="bone_mass-tab">
                                                <div class="card-header">
                                                    <h3>Bone Mass ({{ bone_mass_range_default }})</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="chart_bone_mass" class="panel-body"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="new_weight_chart" role="tabpanel"
                                                 aria-labelledby="new_weight-tab">
                                                <div class="card-header">
                                                    <h3>new chart all KG</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div id="new_chart_weight_kg" class="panel-body"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/css/light_bootstrap_all.min.css' %}"/>
    <script type="text/javascript"
            src="{% static 'assets/js/shieldui_all.min.js' %}"></script>

    <script>
        // Function to show loader
        function showLoader() {
            document.getElementById("loader").style.display = 'block';
        }

        // Function to hide loader
        function hideLoader() {
            document.getElementById("loader").hidden = true;
            document.getElementById("withings-main-container").hidden = false;
        }

        function fetchDataAndRenderChart() {
            // Count to track the number of fetch requests completed
            let fetchCount = 0;

            const dataArray = {}

            // Callback function to render chart once all fetch requests are completed
            function hide_loader_and_render_all_charts() {
                fetchCount++;
                if (fetchCount === 5) {
                    var chart_data_weight = setInterval(() => {
                        if (dataArray['withings_fetch_weight'] !== null && dataArray['withings_fetch_fat_free_mass'] !== null && dataArray['withings_fetch_fat_ratio'] !== null && dataArray['withings_fetch_fat_mass_weight'] !== null && dataArray['withings_fetch_muscle_mass'] !== null && dataArray['withings_fetch_bone_mass'] !== null) {
                            clearInterval(chart_data_weight);
                            renderCharts(dataArray)
                            renderNewWightCharts(dataArray)
                            hideLoader();
                        }
                    }, 1000)
                }
            }

            function withings_fetch_weight() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ weight_range.0 }}")
                formData.append('date_to', "{{ weight_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:withings-fetch-weight' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const measuregrps = data['body']['measuregrps'];
                        let weight_data_array = []
                        let weight_data_value_array = []
                        measuregrps.forEach(item => {
                            const check_weight = parseInt(item['measures'][0]['value'])
                            weight_data_value_array.push(check_weight);
                        });

                        measuregrps.forEach(item => {
                            const weight = parseInt(item['measures'][0]['value'])
                            if (isOutlier(weight, weight_data_value_array) === false) {
                                const date = new Date(item['date'] * 1000); // we convert datestamp to datetime
                                const day = date.getDate();
                                const hours = date.getHours();
                                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                const weekday = weekdays[date.getDay()];

                                const value = weight / 1000
                                weight_data_array.push([`${weekday} - day: ${day} - hour: ${hours}`, value]);
                            }
                        });
                        dataArray['withings_fetch_weight'] = weight_data_array
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['withings_fetch_weight'] = 'fetch_but_null'
                        console.error('Error fetching data from withings-fetch-weight:', error);
                        document.getElementById('chart_weight').innerText = 'No Data'
                    });
            }

            function withings_fetch_fat_free_mass() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ fat_free_mass_range.0 }}")
                formData.append('date_to', "{{ fat_free_mass_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:withings-fetch-fat-free-mass' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const measuregrps = data['body']['measuregrps'];
                        let weight_data_array = []
                        let weight_data_value_array = []
                        measuregrps.forEach(item => {
                            const check_weight = parseInt(item['measures'][0]['value'])
                            weight_data_value_array.push(check_weight);
                        });

                        measuregrps.forEach(item => {
                            const weight = parseInt(item['measures'][0]['value'])
                            if (isOutlier(weight, weight_data_value_array) === false) {
                                const date = new Date(item['date'] * 1000); // we convert datestamp to datetime
                                const day = date.getDate();
                                const hours = date.getHours();
                                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                const weekday = weekdays[date.getDay()];

                                const value = weight / 1000
                                weight_data_array.push([`${weekday} - day: ${day} - hour: ${hours}`, value]);
                            }
                        });
                        dataArray['withings_fetch_fat_free_mass'] = weight_data_array
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['withings_fetch_fat_free_mass'] = 'fetch_but_null'
                        console.error('Error fetching data from withings-fetch-fat-free-mass:', error);
                        document.getElementById('chart_fat_free_mass').innerText = 'No Data'
                    });
            }

            function withings_fetch_fat_ratio() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ fat_ratio_range.0 }}")
                formData.append('date_to', "{{ fat_ratio_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:withings-fetch-fat-ratio' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const measuregrps = data['body']['measuregrps'];
                        let weight_data_array = []
                        let weight_data_value_array = []
                        measuregrps.forEach(item => {
                            const check_weight = parseInt(item['measures'][0]['value'])
                            weight_data_value_array.push(check_weight);
                        });

                        measuregrps.forEach(item => {
                            const weight = parseInt(item['measures'][0]['value'])
                            if (isOutlier(weight, weight_data_value_array) === false) {
                                const date = new Date(item['date'] * 1000); // we convert datestamp to datetime
                                const day = date.getDate();
                                const hours = date.getHours();
                                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                const weekday = weekdays[date.getDay()];

                                const value = weight / 1000
                                weight_data_array.push([`${weekday} - day: ${day} - hour: ${hours}`, value]);
                            }
                        });
                        dataArray['withings_fetch_fat_ratio'] = weight_data_array
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['withings_fetch_fat_ratio'] = 'fetch_but_null'
                        console.error('Error fetching data from withings-fetch-fat-ratio:', error);
                        document.getElementById('chart_fat_ratio').innerText = 'No Data'
                    });
            }

            function withings_fetch_fat_mass_weight() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ fat_mass_weight_range.0 }}")
                formData.append('date_to', "{{ fat_mass_weight_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:withings-fetch-fat-mass-weight' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const measuregrps = data['body']['measuregrps'];
                        let weight_data_array = []
                        let weight_data_value_array = []
                        measuregrps.forEach(item => {
                            const check_weight = parseInt(item['measures'][0]['value'])
                            weight_data_value_array.push(check_weight);
                        });

                        measuregrps.forEach(item => {
                            const weight = parseInt(item['measures'][0]['value'])
                            if (isOutlier(weight, weight_data_value_array) === false) {
                                const date = new Date(item['date'] * 1000); // we convert datestamp to datetime
                                const day = date.getDate();
                                const hours = date.getHours();
                                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                const weekday = weekdays[date.getDay()];

                                const value = weight / 1000
                                weight_data_array.push([`${weekday} - day: ${day} - hour: ${hours}`, value]);
                            }
                        });
                        dataArray['withings_fetch_fat_mass_weight'] = weight_data_array
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['withings_fetch_fat_mass_weight'] = 'fetch_but_null'
                        console.error('Error fetching data from withings-fetch-fat-mass-weight:', error);
                        document.getElementById('chart_fat_mass_weight').innerText = 'No Data'
                    });
            }

            function withings_fetch_muscle_mass() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ muscle_mass_range.0 }}")
                formData.append('date_to', "{{ muscle_mass_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:withings-fetch-muscle-mass' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const measuregrps = data['body']['measuregrps'];
                        let weight_data_array = []
                        let weight_data_value_array = []
                        measuregrps.forEach(item => {
                            const check_weight = parseInt(item['measures'][0]['value'])
                            weight_data_value_array.push(check_weight);
                        });

                        measuregrps.forEach(item => {
                            const weight = parseInt(item['measures'][0]['value'])
                            if (isOutlier(weight, weight_data_value_array) === false) {
                                const date = new Date(item['date'] * 1000); // we convert datestamp to datetime
                                const day = date.getDate();
                                const hours = date.getHours();
                                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                const weekday = weekdays[date.getDay()];

                                const value = weight / 1000
                                weight_data_array.push([`${weekday} - day: ${day} - hour: ${hours}`, value]);
                            }
                        });
                        dataArray['withings_fetch_muscle_mass'] = weight_data_array
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['withings_fetch_muscle_mass'] = 'fetch_but_null'
                        console.error('Error fetching data from withings-fetch-muscle-mass:', error);
                        document.getElementById('chart_muscle_mass').innerText = 'No Data'
                    });
            }

            function withings_fetch_bone_mass() {
                const formData = new FormData();
                formData.append('patient_id', "{{ patient_id }}")
                formData.append('date_from', "{{ bone_mass_range.0 }}")
                formData.append('date_to', "{{ bone_mass_range.1 }}")
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                const options = {
                    method: 'POST',
                    body: formData,
                }
                fetch('{% url 'website:withings-fetch-bone-mass' %}', options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const measuregrps = data['body']['measuregrps'];
                        let weight_data_array = []
                        let weight_data_value_array = []
                        measuregrps.forEach(item => {
                            const check_weight = parseInt(item['measures'][0]['value'])
                            weight_data_value_array.push(check_weight);
                        });

                        measuregrps.forEach(item => {
                            const weight = parseInt(item['measures'][0]['value'])
                            if (isOutlier(weight, weight_data_value_array) === false) {
                                const date = new Date(item['date'] * 1000); // we convert datestamp to datetime
                                const day = date.getDate();
                                const hours = date.getHours();
                                const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                                const weekday = weekdays[date.getDay()];

                                const value = weight / 1000
                                weight_data_array.push([`${weekday} - day: ${day} - hour: ${hours}`, value]);
                            }
                        });
                        dataArray['withings_fetch_bone_mass'] = weight_data_array
                        hide_loader_and_render_all_charts()
                    })
                    .catch(error => {
                        dataArray['withings_fetch_bone_mass'] = 'fetch_but_null'
                        console.error('Error fetching data from withings-fetch-bone-mass:', error);
                        document.getElementById('chart_bone_mass').innerText = 'No Data'
                    });
            }

            withings_fetch_weight()
            withings_fetch_fat_free_mass()
            withings_fetch_fat_ratio()
            withings_fetch_fat_mass_weight()
            withings_fetch_muscle_mass()
            withings_fetch_bone_mass()

            function renderCharts(dataArray) {
                const data1 = dataArray['withings_fetch_weight']
                const data2 = dataArray['withings_fetch_fat_free_mass']
                const data3 = dataArray['withings_fetch_fat_ratio']
                const data4 = dataArray['withings_fetch_fat_mass_weight']
                const data5 = dataArray['withings_fetch_muscle_mass']
                const data6 = dataArray['withings_fetch_bone_mass']
                console.log(data1)
                console.log(data2)
                console.log(data3)
                console.log(data4)
                console.log(data5)
                console.log(data6)
                jQuery(function ($) {
                    try {
                        $("#chart_weight").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date (day of month)"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                    format: function (text, axis, chart) {
                                        return text.match(/day: (\d+)/)[1];
                                    }
                                },
                                categoricalValues: data1.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Weight (Kg)"
                                }
                            },
                            dataSeries: [{
                                collectionAlias: "weight",
                                seriesType: "line",
                                data: data1
                            }]
                        });
                    } catch (err) {
                        console.log('renderWeightChart err: ' + err)
                        document.getElementById('chart_weight').innerText = 'No Data'
                    }
                    try {
                        $("#chart_fat_free_mass").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date (day of month)"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                    format: function (text, axis, chart) {
                                        return text.match(/day: (\d+)/)[1];
                                    }
                                },
                                categoricalValues: data2.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Fat Free Mass (Kg)"
                                }
                            },
                            dataSeries: [{
                                collectionAlias: "fat free mass",
                                seriesType: "line",
                                data: data2
                            }]
                        });
                    } catch (err) {
                        console.log(err)
                        document.getElementById('chart_fat_free_mass').innerText = 'No Data'
                    }
                    try {
                        $("#chart_fat_ratio").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date (day of month)"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                    format: function (text, axis, chart) {
                                        return text.match(/day: (\d+)/)[1];
                                    }
                                },
                                categoricalValues: data3.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Fat Ratio (%)"
                                }
                            },
                            dataSeries: [{
                                collectionAlias: "fat ratio",
                                seriesType: "line",
                                data: data3
                            }]
                        });
                    } catch (err) {
                        console.log(err)
                        document.getElementById('chart_fat_ratio').innerText = 'No Data'
                    }
                    try {
                        $("#chart_fat_mass_weight").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date (day of month)"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                    format: function (text, axis, chart) {
                                        return text.match(/day: (\d+)/)[1];
                                    }
                                },
                                categoricalValues: data4.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Fat Mass Weight (Kg)"
                                }
                            },
                            dataSeries: [{
                                collectionAlias: "fat mass weight",
                                seriesType: "line",
                                data: data4
                            }]
                        });
                    } catch (err) {
                        console.log(err)
                        document.getElementById('chart_fat_mass_weight').innerText = 'No Data'
                    }
                    try {
                        $("#chart_muscle_mass").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date (day of month)"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                    format: function (text, axis, chart) {
                                        return text.match(/day: (\d+)/)[1];
                                    }
                                },
                                categoricalValues: data5.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Muscle Mass (Kg)"
                                }
                            },
                            dataSeries: [{
                                collectionAlias: "miscle mass",
                                seriesType: "line",
                                data: data5
                            }]
                        });
                    } catch (err) {
                        console.log(err)
                        document.getElementById('chart_muscle_mass').innerText = 'No Data'
                    }
                    try {
                        $("#chart_bone_mass").shieldChart({
                            exportOptions: {
                                image: true,
                                print: false
                            },
                            axisX: {
                                title: {
                                    text: "Date (day of month)"
                                },
                                axisTickText: {
                                    enabled: true,
                                    step: 3,
                                    textAngle: 0,
                                    format: function (text, axis, chart) {
                                        return text.match(/day: (\d+)/)[1];
                                    }
                                },
                                categoricalValues: data6.map(item => item[0]),
                            },
                            axisY: {
                                title: {
                                    text: "Bone Mass (Kg)"
                                }
                            },
                            dataSeries: [{
                                collectionAlias: "bone mass",
                                seriesType: "line",
                                data: data6
                            }]
                        });
                    } catch (err) {
                        console.log(err)
                        document.getElementById('chart_bone_mass').innerText = 'No Data'
                    }
                });
                hideDemoTspans()
            }

            function renderNewWightCharts(dataArray) {
                const data1 = dataArray['withings_fetch_weight']
                const data2 = dataArray['withings_fetch_fat_free_mass']
                const data3 = dataArray['withings_fetch_fat_ratio']
                const data4 = dataArray['withings_fetch_fat_mass_weight']
                const data5 = dataArray['withings_fetch_muscle_mass']
                const data6 = dataArray['withings_fetch_bone_mass']

                const combinedArray = [];

                let index = 1;
                for (const key in dataArray) {
                    const data = dataArray[key];
                    data.forEach(item => {
                        combinedArray.push({
                            date: item[0],
                            chart: key,
                            value: item[1]
                        });
                    });
                    index++;
                }

                console.log(combinedArray);


                // Define chart dimensions
                const width = 1000;
                const height = 500;
                const marginTop = 0;
                const marginRight = 60;
                const marginBottom = 60;
                const marginLeft = 60;

                // Declare the x (horizontal position) scale.
                const x = d3.scaleBand()
                    .domain(combinedArray.map(d => d.date))
                    .range([marginLeft, width - marginRight])
                    .padding(0.1);

                // Declare the y (vertical position) scale.
                const y = d3.scaleLinear()
                    .domain([0, d3.max(combinedArray, d => d.value)])
                    .range([height - marginBottom, marginTop]);

                const color = d3.scaleOrdinal()
                    .domain(combinedArray.map(d => d.chart))
                    .range(d3.schemeCategory10);

                // Create the SVG container.
                const svg = d3.create("svg")
                    .attr("viewBox", [0, 0, width, height])
                    .attr("width", width + marginLeft + marginRight)
                    .attr("height", height + marginTop + marginBottom)
                    .attr("style", "max-width: 100%; height: auto;");

                svg.append("g")
                    .attr("transform", `translate(0,${height - marginBottom})`)
                    .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0));

                // Add the x-axis.
                svg.append("g")
                    .attr("transform", `translate(0,${height - marginBottom})`)
                    .call(d3.axisBottom(x));

                // Add the y-axis.
                svg.append("g")
                    .attr("transform", `translate(${marginLeft},0)`)
                    .call(d3.axisLeft(y));

                // Add a container for each series.
                const serie = svg.append("g")
                    .selectAll()
                    .data(d3.group(combinedArray, d => d.chart))
                    .join("g");

                // Draw the lines.
                serie.append("path")
                    .attr("fill", "none")
                    .attr("stroke", d => color(d[0]))
                    .attr("stroke-width", 1.5)
                    .attr("d", d => d3.line()
                        .x(d => x(d.date))
                        .y(d => y(d.value))(d[1]));
                
                // Append the SVG element.
                document.getElementById('new_chart_weight_kg').append(svg.node());
            }
        }

        function isOutlier(number, numbers) {
            // Calculate the mean of the numbers
            const mean = numbers.reduce((acc, val) => acc + val, 0) / numbers.length;

            // Calculate the standard deviation
            const stdDev = Math.sqrt(numbers.reduce((acc, val) => acc + Math.pow(val - mean, 2), 0) / numbers.length);

            // Check if the number is an outlier
            return (number < (mean - 2 * stdDev) || number > (mean + 2 * stdDev));
        }

        function hideDemoTspans() {
            var demo_cleaner = setInterval(() => {
                const tspans = document.querySelectorAll('tspan');
                if (tspans.length > 0) {
                    tspans.forEach(tspan => {
                        if (tspan.textContent.trim() === 'Demo Version') {
                            tspan.style.display = 'none';
                        }
                    });
                    tspans.forEach(tspan => {
                        if (tspan.textContent.trim() === 'Shield UI Chart') {
                            tspan.style.display = 'none';
                        }
                    });
                    const exportButtons = document.querySelectorAll('.shield-export-button-img');
                    exportButtons.forEach(exportButton => {
                        exportButton.innerHTML += '<i class="fa fa-download"></i>';
                    });

                    clearInterval(demo_cleaner);
                }
            }, 1000)
        }

        $(document).ready(function () {
            showLoader();
            fetchDataAndRenderChart();
        })

    </script>
{% endblock %}